html {
	scroll-behavior: smooth;
}


body {
	margin: 0px;
}

h1 {
	font-family: Comfortaa;
	font-size: 50px;
	margin: 0;
}
h2 {
	font-family: Lato;
	opacity: 50%;
	margin-bottom: 50px;
}
.emebutton {
	font-family: Lato;
	color: white;
	background: grey;
	padding: 10px 20px;
	text-decoration: none;
	letter-spacing: 1px;
	transition: .5s;
	cursor: pointer;
	border-radius: 100px;
}
.emebutton:hover {
	color: orange;
	background-color: black;
}



header {
    background: white;
    height: 80px;
	width: 100%;
	position: fixed;
	box-shadow: 0 0 5px #555;
}
.logo-text {
	font-family: Rethink Sans;
	font-size: 50px;
	float: left;
	line-height: 80px;
	padding-left: 30px;
}
ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	float: right;
	padding-right: 30px;
}
li {
	font-family: Lato;
	line-height: 50px;
	padding: 0 20px;
	cursor: pointer;
	transition: .5s;
}
li a {
	text-decoration: none;
}
li a:hover {
	color: red;
	text-decoration: none;
}



main {
	height: 100vh;
	display: flex;
	background: url("../assets/home.jpg");
	background-attachment: fixed;
	background-size: cover;
}
.main-content {
	text-align: center;
	margin: auto;
	color: white;
}



.title {
	text-align: center;
}
.flex-container img {
	width: 30vh;
	overflow: hidden;
	padding-top: 15vh;
}
.flex-container {
	overflow: hidden;
	color: white;
	display: flex;
	text-align: center;
	background: #C47900;
	justify-content: center;
	height: 100vh;
	gap: 20vh;
}
h3 {
	font-family: Rethink Sans;
	font-size: 60px;
}
h4 {
	font-family: Rethink Sans;
	font-size: 40px;
}
p {
	font-family: Lato;
	font-size: 17px;
	font-weight: 900;
}

.divcontainer {
	color: white;
}




.aboutpage {
	justify-content: center;
	text-align: center;
	background: url(../assets/worm.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
}

.description {
	padding: 50px 100px;
}
.title {
	padding-top: 50px;
}


footer {
	height: 200px;
	background: black;
	color: white;
	text-align: center;
	padding-top: 50px;
	font-family: Lato;
	font-size: 15px;
}
	
.button {
	padding-top: 10px;
    text-decoration: none;
	color: black;
}
.button a {
	text-decoration: none;
}
.button a:hover {
	color: orange;
}
